In [1]:
import pandas as pd

In [3]:
products_df = pd.read_csv("Products.csv")
products_df

,id,name,item_type,price,vat_rate,category,organization_id,org_unit_id,created_date,last_modified_date,created_by,last_modified_by,is_overridden
0,1,"NESTEA CITRÓN 1,5l",K,0.99,20.0,drinks/non-alcoholic,1,1,2023-09-28 22:57:45,2023-09-28 22:57:46,1,1,b'\x00'
1,2,ZÁLOHA PET,K,0.15,0.0,drinks/non-alcoholic,1,1,2023-09-28 22:57:45,2023-11-22 12:15:34,1,1,b'\x00'
2,3,"MAG.GREP 1,5l",K,0.65,20.0,drinks/non-alcoholic,1,1,2023-09-28 22:57:45,2023-09-28 22:57:46,1,1,b'\x00'
3,4,"MAG.PER.1,5l",K,0.59,20.0,drinks/mineral-water,1,1,2023-09-28 22:57:45,2023-09-28 22:57:46,1,1,b'\x00'
4,5,Raciol rastl.1l,K,2.59,20.0,basic/oil-acid-grease,1,1,2023-09-28 22:57:45,2023-09-28 22:57:46,1,1,b'\x00'
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6742,6747,Sanytol uni.sprej 500ml,K,3.65,20.0,home/cleaning,16,49,2024-11-07 11:10:22,2024-11-07 11:10:22,7,system,b'\x00'
6743,6748,S&S KU 2x140 útrž.,K,1.25,20.0,home/cleaning,16,49,2024-11-07 11:10:22,2024-11-07 11:10:22,7,system,b'\x00'
6744,6749,Dettol antibak.obrús 80ks,K,6.65,20.0,health/vitamins-ointments,16,49,2024-11-07 11:10:22,2024-11-07 11:10:22,7,system,b'\x00'
6745,6750,"babylove vlh.ut. 99%vody,80",K,1.75,20.0,baby/supplies-hygiene,16,49,2024-11-07 11:10:22,2024-11-07 11:10:22,7,system,b'\x00'
6746,6751,xkko froté obrúsky biele 6k,K,6.95,20.0,home/maintenence,16,49,2024-11-07 11:10:22,2024-11-07 11:10:22,7,system,b'\x00'

In [11]:
orders = products_df.groupby('created_date')['name'].agg(', '.join).reset_index()
orders

            created_date                                               name
0    2023-09-28 22:57:45  NESTEA CITRÓN 1,5l, ZÁLOHA PET, MAG.GREP 1,5l,...
1    2023-09-28 22:58:10  K.Monorola 100m 1ks, Zľava s kupónom, Frisk. F...
2    2023-09-28 22:58:11  Kinder surp. die.20g, Kokos.kmeň100g, Princezk...
3    2023-09-28 22:58:23  FUZ.BROS.1,5l, KAČICA PITVANÁ, ZĽAVA PRE ČLENA...
4    2023-09-28 22:58:32  ris.diav.350g, TP TENTO ECON.2-VR, DŽÚS HAP.DA...
..                   ...                                                ...
933  2024-11-05 18:47:18                                 Parkovné za 30 min
934  2024-11-06 13:30:55                             chrumkava kačica, Ryža
935  2024-11-07 11:09:55  TESA 58570 transparent, TESA Basic 58549 Lepia...
936  2024-11-07 11:10:17  Horalky, 50g, Fidorka kokos, Líz. Cola Lemon, ...
937  2024-11-07 11:10:22  Sanytol antibakt.mydlo 250m, Dontodent zub.kef...

[938 rows x 2 columns]

In [12]:
orders["name"] =  orders["name"].str.lower()
orders

            created_date                                               name
0    2023-09-28 22:57:45  nestea citrón 1,5l, záloha pet, mag.grep 1,5l,...
1    2023-09-28 22:58:10  k.monorola 100m 1ks, zľava s kupónom, frisk. f...
2    2023-09-28 22:58:11  kinder surp. die.20g, kokos.kmeň100g, princezk...
3    2023-09-28 22:58:23  fuz.bros.1,5l, kačica pitvaná, zľava pre člena...
4    2023-09-28 22:58:32  ris.diav.350g, tp tento econ.2-vr, džús hap.da...
..                   ...                                                ...
933  2024-11-05 18:47:18                                 parkovné za 30 min
934  2024-11-06 13:30:55                             chrumkava kačica, ryža
935  2024-11-07 11:09:55  tesa 58570 transparent, tesa basic 58549 lepia...
936  2024-11-07 11:10:17  horalky, 50g, fidorka kokos, líz. cola lemon, ...
937  2024-11-07 11:10:22  sanytol antibakt.mydlo 250m, dontodent zub.kef...

[938 rows x 2 columns]

In [16]:
orders["has_discount"] = orders["name"].str.contains("|".join(["zľava", "kaufland card"]), case=False)

In [17]:
orders

,created_date,name,has_discount
0,2023-09-28 22:57:45,"nestea citrón 1,5l, záloha pet, mag.grep 1,5l,...",True
1,2023-09-28 22:58:10,"k.monorola 100m 1ks, zľava s kupónom, frisk. f...",True
2,2023-09-28 22:58:11,"kinder surp. die.20g, kokos.kmeň100g, princezk...",True
3,2023-09-28 22:58:23,"fuz.bros.1,5l, kačica pitvaná, zľava pre člena...",True
4,2023-09-28 22:58:32,"ris.diav.350g, tp tento econ.2-vr, džús hap.da...",True
...,...,...,...
933,2024-11-05 18:47:18,parkovné za 30 min,False
934,2024-11-06 13:30:55,"chrumkava kačica, ryža",False
935,2024-11-07 11:09:55,"tesa 58570 transparent, tesa basic 58549 lepia...",False
936,2024-11-07 11:10:17,"horalky, 50g, fidorka kokos, líz. cola lemon, ...",False
937,2024-11-07 11:10:22,"sanytol antibakt.mydlo 250m, dontodent zub.kef...",False